<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.andrew.mapper.TestMapper">


    <!--result的意思是查询的结果映射到哪个类-->
    <select id="list"  resultType="com.andrew.Test">
        select 'id','name'
        from 'test'
    </select>
</mapper>